*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }

.home{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3)),url(../image/pexels-gustavo-fring-3985163.jpg)no-repeat;
    background-size:100% 100% ;
    background-attachment: fixed;
    width: 100%;
    padding: 230px ;
}
hr{
    width: 10%;
    border-width: 4px;
    background-color: brown;
    margin: auto;
    margin-bottom: 100px;
    
}
.specialities{
    background-color: white;
    padding-top: 80px;
    padding-bottom: 150px;
}